/* Main background for AnchorPane */
#AnchorPane {
    -fx-background-color: linear-gradient(to right, #4ca1af, #0000);
    -fx-font-family: "Segoe UI", sans-serif;
}

/* TableView Styling */
.table-view {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 12, 0.4, 0, 2);
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1.5;
    -fx-border-radius: 20px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #222;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to right, #4ca1af, #2c3e50);
    -fx-background-radius: 15 15 0 0;
}

.table-view .column-header, 
.table-view .filler {
    -fx-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* VBox Styling for TextFields */
#textfiledvbox {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 12, 0.4, 0, 2);
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1.5;
    -fx-border-radius: 20px;
}

/* TextFields inside VBox */
.text-field {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 10px;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-border-color: #ccc;
}

/* Label Styling */
#tabletypedisplay, #amountshow {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.4, 0, 1);
}

/* Buttons */
.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-font-size: 12px;
}

#addbt {
    -fx-background-color: linear-gradient(to right, #4ca1af, #2c3e50);
    -fx-text-fill: white;
}

#deletebt {
    -fx-background-color: red;
    -fx-text-fill: white;
}

#updatebt {
    -fx-background-color: green;
    -fx-text-fill: white;
}

#homepagebt {
    -fx-background-color: gray;
    -fx-text-fill: white;
}

/* HBox buttons hover */
#educationbt:hover, #reportbt:hover, #addbt:hover, #updatebt:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* HBox with Image and Button */
HBox {
    -fx-background-color: linear-gradient(to right, #4ca1af, #2c3e50);
    -fx-background-radius: 10px;
    -fx-padding: 3 10;
}

#tfhbox {
    -fx-background-color: clear;
    
}
